extends ./layouts/common
block head
    .row
        .col-md-3
            .card
                img.card-img-top(src='./static/images/bleu-de-chanel-deodorant-spray-3-4fl-oz--packshot.jpg' alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of
                        | the card&apos;s content.
                    a.btn.btn-primary(href='#') Go somewhere
        .col-md-3
            .card
                img.card-img-top(src='./static/images/bleu-de-chanel-shower-gel.jpg' alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of
                        | the card&apos;s content.
                    a.btn.btn-primary(href='#') Go somewhere
        .col-md-3
            .card
                img.card-img-top(src='./static/images/bleu-de-chanel-eau-de-toilette-refillable-travel-spray.jpg' alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of
                        | the card&apos;s content.
                    a.btn.btn-primary(href='#') Go somewhere
        .col-md-3
            .card
                img.card-img-top(src='./static/images/bleu-de-chanel-travel-set-1pce-packshot.jpg' alt='...')
                .card-body
                    h5.card-title Card title
                    p.card-text
                        | Some quick example text to build on the card title and make up the bulk of
                        | the card&apos;s content.
                    a.btn.btn-primary(href='#') Go somewhere
block footer