extends ./layouts/headAndFooter
block head
  nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
    a.ml-5(href='./')
      img(src='./static/images/logo.png' alt='logo')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.m-auto
        li.nav-item.active
          a.nav-link.px-3.border.border-success.rounded-pill.m-2.text-center(href='./')
            strong
              | HOME
            span.sr-only (current)
        li.nav-item.active
          a.nav-link.px-3.border.border-success.rounded-pill.m-2.text-center(href='./cards')
            strong CARDS 
            span.sr-only (current)
        li.nav-item.active
          a.nav-link.px-3.border.border-success.rounded-pill.m-2.text-center(href='./cards')
            strong GAME
            span.sr-only (current)
      div.my-2.my-lg-0.d-flex.justify-content-center.testjq
        a.nav-link.px-3.border.border-success.rounded-pill.m-2.text-center(href='/')
          strong
            | Sign Out 
          i.fad.fa-sign-out-alt
  //-------   navbar
  #carouselExampleCaptions.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleCaptions' data-slide-to='0')
      li(data-target='#carouselExampleCaptions' data-slide-to='1')
      li(data-target='#carouselExampleCaptions' data-slide-to='2')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='./static/images/beautiful_girls.jpg' alt='...')
        .carousel-caption.d-none.d-sm-block.mb-50
          a.btn.btn-primary.btn-lg.active.d-block(href='/api/v1/download/girls1' role='button' aria-pressed='true') Dowload image
          h5 First slide label
          p Nulla vitae elit libero, a pharetra augue mollis interdum.
      .carousel-item
        img.d-block.w-100(src='./static/images/beautiful_woman.jpg' alt='...')
        .carousel-caption.d-none.d-sm-block.mb-50
          a.btn.btn-primary.btn-lg.active.d-block(href='/api/v1/download/girls2' role='button' aria-pressed='true') Dowload image
          h5 Second slide label
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .carousel-item
        img.d-block.w-100(src='./static/images/girl_ultra.jpg' alt='...')
        .carousel-caption.d-none.d-sm-block.mb-50
          a.btn.btn-primary.btn-lg.active.d-block(href='/api/v1/download/girls2' role='button' aria-pressed='true') Dowload image
          h5 Third slide label
          p Praesent commodo cursus magna, vel scelerisque nisl consectetur.
    a.carousel-control-prev(href='#carouselExampleCaptions' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleCaptions' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
block footer