extends ./layouts/headAndFooter
block head
  nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top
    a.ml-5(href='./')
        img(src='./static/images/logo.png' alt='logo')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
        
        ul.navbar-nav.m-auto
            li.nav-item.active
                a.nav-link.px-3.border.border-success.rounded-pill.m-2.text-center(href='./login')
                    strong
                        | LOGIN
                    span.sr-only (current)
            li.nav-item.active
                a.nav-link.px-3.border.border-success.rounded-pill.m-2.text-center(href='./register')
                    strong REGISTER 
                    span.sr-only (current)
        div.w-10

  //-------   navbar
  .wrapper
  form.form-signin
    h2.form-signin-heading Please login
    div
      .attr
    input#email.form-control(type='text', name='email', placeholder='User or Email', required='', autofocus='')
    input#password.form-control(type='password', name='password', placeholder='Password', required='', pattern='[^\'"]+')
    label.checkbox
      input#rememberMe(type='checkbox', value='remember-me', name='rememberMe')
      |  Remember me
    button#button-login.btn.btn-lg.btn-primary.btn-block(type='button') Login
    a(href='/register')
      | Register 
      i.fad.fa-angle-double-right
block footer