extends ./layouts/common
block head
    .wrapper
        form.form-signin(method='POST')
            h2.form-signin-heading Please register
            input.form-control(type='text' name='fullname' placeholder='Full Name')
            input.form-control(type='text' name='user' placeholder='User Name')
            input.form-control(type='text' name='email' placeholder='Email Address')
            input.form-control(type='password' name='password' placeholder='Password')
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Register
block footer